/* 
	COLOR PALETTE

	background: F7F4F5
	primary: A22522
	secondary: 4E8098
	muted: CED3DC
	dark: 071E22

*/

.resume-grid {
	display: grid;
	grid-template-columns: 70% auto;
}

.resume-column {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.exp-section {
	margin-bottom: 1.5em;
}

.grad-info {
	margin-top: 0px;
}

.title {
	font-size: 1.25em;
}
