/* ******************************CSS VARIABLES******************************* */

@font-face {
  font-family: 'Retrology';
  src: url(/retrology/Retrology.ttf) format('truetype');
}

:root {
  /* Font Sizes */
  --largest-t: 8em;
  --large-t: 4em;
  --medium-t: 2em;
  --small-t: 1.25em;

  /* Margin + Padding */
  --large-space: 4em;
  --medium-space: 2em;
  --small-space: 1em;
  --smallest-space: 0.5em;
}

/* Light Mode Palette */
:root[color-mode="light"] {
  --background-c: #1e555c;
  --background-darker-c: #19474d;
  --primary-c: #f6af65;
  --secondary-c: #c3e8bd;
  --body-c: #bddbd0;
}

/* Dark Mode Palette */
:root[color-mode="dark"] {
  --background-c: #303030;
  --background-darker-c: #000;
  --primary-c: #f6af65;
  --secondary-c: #C0C0C0;
  --body-c: #C0C0C0;
}

/* ******************************DEFAULT ELEMENT STYLES******************************* */

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-c);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;
  color: var(--body-c);
  margin: var(--medium-space);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--small-space);
}

p {
  font-size: var(--small-t);
}

ul {
  padding: 0px;
}

main>* {
  margin: var(--medium-space) 0px;
}

a {
  color: var(--body-c);
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 0px 0px var(--primary-c);
  box-shadow: 0px 2px 0px 0px var(--primary-c);
  font-size: inherit;
}

a:hover,
a:focus {
  -webkit-box-shadow: 0px 0px 0px 2px var(--primary-c);
  box-shadow: 0px 0px 0px 2px var(--primary-c);
  outline: none;
}

/* ******************************UTILITY CLASSES******************************* */

.small-padding {
  padding: var(--small-space);
}

.small-margin {
  margin: var(--small-space);
}

.small-text {
  font-size: var(--small-t);
}

/* ******************************LANDING PAGE STYLES******************************* */

.landing-page__header {
  display: grid;
  grid-template-columns: 30% auto;
}

.landing-page__secondary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 var(--small-space);
}

.landing-page__subheader {
  font-size: var(--medium-t);
}

.hero {
  font-family: 'Retrology', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--largest-t);
  font-weight: normal;
  color: var(--primary-c);
  margin: 0px;
}

.hero__subtitle {
  font-size: var(--large-t);
  color: var(--secondary-c);
  font-weight: bold;
  align-self: center;
  margin: 0px;
}

/* ******************************PORTFOLIO PAGE STYLES******************************* */

.portfolio-page__header {
  font-size: var(--large-t);
  color: var(--primary-c);
  margin: 0px;
  text-align: center;
}

.portfolio-page__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: var(--small-space);
  align-items: center;
}

/* ******************************NAV STYLES******************************* */

nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: var(--medium-space);
}

.home {
  font-family: 'Retrology', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--large-t);
  color: var(--primary-c);
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-item {
  align-self: start;
  text-decoration: none;
  color: var(--body-c);
  font-size: var(--medium-t);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-item:hover,
.nav-item:focus,
.home:focus,
.home:hover {
  border: 0;
  -webkit-box-shadow: 0px 8px 0px 0px var(--primary-c);
  box-shadow: 0px 8px 0px 0px var(--primary-c);
  outline: none;
}

/* ******************************FOOTER STYLES******************************* */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--medium-space);
  justify-items: center;
  align-items: center;
  border-top: 1px solid var(--background-darker-c);
}

footer>* {
  margin-bottom: var(--small-space);
}

footer ul {
  list-style-type: none;
}

footer p {
  font-weight: bold;
  font-size: var(--small-t);
}

footer a {
  color: var(--body-c);
  text-decoration: none;
  border-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
  outline: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ******************************CARD STYLES******************************* */

.card-header-link {
  color: var(--background-darker-c);
  text-decoration: none;
}

.card-header-link:hover,
.card-header-link:focus {
  -webkit-box-shadow: 0px 2px 0px 0px var(--background-darker-c);
  box-shadow: 0px 2px 0px 0px var(--background-darker-c);
}

/* ******************************RESPONSIVE WHATNOT******************************* */

@media (max-width: 1024px) {
  .hero {
    font-size: var(--large-t);
  }

  .hero__subtitle {
    font-size: var(--medium-t);
  }

  .landing-page__secondary,
  .portfolio-page__grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 15px;
  }

  .portfolio-page__grid>* {
    grid-row: auto / span 1 !important;
    grid-column: auto / span 1 !important;
  }

  .nav-item {
    font-size: var(--small-t);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    margin: var(--small-space);
  }

  footer,
  .landing-page__header {
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 15px;
  }

  .home,
  .portfolio-page__header {
    font-size: var(--medium-t);
  }

  .nav-item {
    width: max-content;
  }
}