ul { list-style: none; }
li { display: inline; }
a { text-decoration: none; }

#nav { background-color: #6b6b6b; }
#nav ul { display: inline-block; }
#nav ul li#name a{ color: black; }
#nav ul li a { color: #46d8fc; }
#nav ul li a:hover { color: #66ffbc; }

#nav ul li {
	padding-right: 50px;
	font-family: 'Bungee', Arial;
	font-size: 30px;
}

#footer { 
	background-color: white; 
	padding: 2px;
	width: 100%;
/*	position: absolute;
	bottom: 0;*/
}

#footer ul li { padding-right: 60px; }

#footer ul li a { 
	color: #A132F5; 
	font-family: 'Raleway', Arial;
	font-weight: bold;
}

#footer ul {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
